@import "tailwindcss";

@theme {

  --color-brand-bg: #ADD8E6;
  --color-brand-card: #F3EBEB;
  --color-primary: #386B6A;
  --color-secondary: #384B6B;
  --color-accent-light: #B7EBA;
  --color-text-main: #1A1A1A;

}

body {
  @apply bg-brand-bg
}

@layer components {
  .typography {

    h1 {

      font-size: 40px;
      color: var(--color-secondary);
      margin-bottom: var(--spacing-4);
    }

    h2 {

      font-size: 26px;
      color: var(--color-text-main);
      margin-bottom: var(--spacing-2);
    }

    p {

      color: var(--color-text-main);
      font-size: 15px;
      line-height: 1.5;
    }

  }
}